
<div class="container">
    <ul class="header">
        <li><a routerLink="person/create" routerLinkActive="active"> Crear CLiente</a></li>
        <li><a routerLink="prduct/create" routerLinkActive="active">Crear un Producto</a></li>
        <li><a routerLink="transaction" routerLinkActive="active">Hacer una transaction</a></li>
        <li><a routerLink="product/list" routerLinkActive="active">Lista de productos</a></li>
        <li><a routerLink="tranferencia" routerLinkActive="active">Hacer tranferencia</a></li>

    </ul>
</div>
