<p>create-product works!</p>
<h1>Hola Mundo</h1>
<h1>Crear una Persona</h1>
<form novalidate [formGroup]="product" (ngSubmit)="submit(product)">
    <label>
        <span>Tipo de cuenta</span>
        <input placeholder="Tipo de cuenta" type="text" formControlName="accountType" >
    </label>
    <label>
        <span>Numero de cuenta</span>
        <input type="number" formControlName="productNumber">
    </label>
    <label>
        <span>Saldo</span>
        <input type="number" formControlName="balance">
    </label>
    <label>
        <span>Saldo disponible</span>
        <input type="number" formControlName="availableBalance">
    </label>
    <div class="btn">
        <button class="registro" type="submit" [disabled]="product.invalid">Crear producto</button>
    </div>

    <p>{{message}}</p>

</form>
