<p>prodcuts works!</p>

<div class="container" *ngFor="let product of product">
    <ul>
        <div class="datos">
            {{product.productNumber}} <br> <br>
        </div>
        <div class="datos">
            {{product.balance}} <br> <br>
        </div>
        <div class="datos">
            {{product.availableBalance}} <br> <br>
        </div>
        <div class="datos">
            {{product.idClient}} <br> <br>
        </div>
        <div class="datos">
            {{product.balance}} <br> <br>
        </div>
        
        
    </ul>

</div>
