<h1>Lista de productos</h1>

<div class="container" *ngFor="let product of product">
    <ul class="main">
        <div class="datos">
           <p>El numero de cuenta es: </p>  {{product.productNumber}} <br> <br>
        </div>
        <div class="datos">
            <p>El saldo disponible de la cuenta es: </p> {{product.balance}} <br> <br>
        </div>
        <div class="datos">
            <p>EL saldo disponible de la cuenta es:</p> {{product.availableBalance}} <br> <br>
        </div>
        <div class="datos">
            <p>El correo del usaurio: </p>{{product.idClient}} <br> <br>
        </div>
        
        
    </ul>

</div>
