<p>tranferencia works!</p>
<form novalidate [formGroup]="transaction" (ngSubmit)="submit(transaction)">
    <label>
        <span>Tipo de transaccion</span>
        <input placeholder="Tipo de transaccion" type="text" formControlName="transaccionType" >
    </label>
    <label>
        <span>Monto</span>
        <input type="number" formControlName="monto">
    </label>
    <label>
        <span>Ingrese el numero de cuenta del Emisor</span>
        <input type="text" formControlName="accountIdEmisor">
    </label>
    <label>
        <span>Ingrese el numero de cuneta del destinatario</span>
        <input type="text" formControlName="accounId">
    </label>
    <div class="btn">
        <button class="registro" type="submit" [disabled]="transaction.invalid">Crear producto</button>
    </div>



    <p>{{message}}</p>

</form> 
